/* 전체 */
#wrapper {
    width: 100%;
    margin: 0 auto;  /* 약간의틈도싫으면 body0 */
}


/* 헤더 */
header {
    width: 100%;
    height: 120px;
    background-color: blue;
}

.header-text {
    font-size: 2rem; /*상위부모것2배*/
    color: white;
    text-align: center;
    line-height: 120px; /*헤더높이와같게*/
}


/* 본문 */
.content {
    float: left;
    width: 70%;
    height: 500px;
    background-color: bisque;
    text-align: center;
    line-height: 500px;
    font-size: 1.5rem;
}


/* 사이드바 */
.right-side{
    float: right;
    width: 30%;
    height: 500px;
    background-color: cadetblue;
    text-align: center;
    line-height: 500px;
    font-size: 1rem;
}


/* footer 체크*/
.footer {
    clear: both;
    height: 120px;
    background-color: yellow; 
    line-height: 120px;
    padding-left: 20px;
}